<div class="address-card">
  <h1 class="name">{{ user.name }}</h1>
  <h3 class="title">{{ user.designation }}</h3>
  <button (click)="toggleCollaspse()" *ngIf="isCollapsed">Expand</button>
  <button (click)="toggleCollaspse()" *ngIf="!isCollapsed">Collapse</button>
  <div *ngIf="!isCollapsed">
    <p class="address">{{ user.address }}</p>
    <p class="address">{{ state }}</p>
    <p class="address">{{ zip }}</p>
    <div class="phone" *ngIf="user.phone.length > 0">
      <p>Phone:</p>
      <!-- <p>{{ user.phone[0] }}</p>
    <p>{{ user.phone[1] }}</p> -->
      <p *ngFor="let phoneNumber of user.phone">{{ phoneNumber }}</p>
    </div>
  </div>
</div>

<p class="title">Test</p>
